.App {
  text-align: center;
}

.App-dark {
  background-color: black;
  text-align: center;
  color: white;
  min-height: 100vh;
  /* vh --> view height (brauseri kõrgus) protsentides */
}

.pilt {
  height: 100px;
  /* width: 100px; */
  /* border-radius: 50%; */
  border-radius: 10px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.pilt:active {
  /* height: 95px; */
  transform: scale(0.95);
}

.nupp {
  background-color: brown;
  color: white;
  border-radius: 3px;
  border: 2px solid maroon;
}

.nupp:hover {
  cursor: pointer;
  background-color: crimson;
}

.nupp:active {
  text-decoration: underline;
  background-color: maroon;
}

.linn {
  font-size: 20px;
}

.linn:hover {
  text-decoration: underline;
  color: blueviolet;
  cursor: pointer;
}

.linn-aktiivne {
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: blueviolet;
}

.linn-aktiivne:hover {
  color: blueviolet;
  cursor: pointer;
}

.mode-button {
  height: 30px;
  width: 30px;
}

.mode-button:hover {
  cursor: pointer;
  opacity: 70%;
}

.mode-button:active {
  transform: scale(95%);
}

/* kui on peal .App-dark, siis tema
sees olev .mode-button saab sellise
CSSi */
.App-dark .mode-button {
  filter: brightness(0) invert(1);
}